<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}
<head>
    <title>{% block title %}Popcorn Picks{% endblock %}</title>
    <meta name="viewport" content="width=device-width" />
	{% tailwind_css %}
</head>

<body class="bg-fixed bg-[var(--light-bg)] text-[var(--light-text-2)] dark:text-[var(--dark-text-2)] dark:bg-[var(--dark-bg)] h-screen">
    <nav id="navbar" class="fixed bottom-0 left-0 right-0 h-12 lg:top-0 lg:left-0 lg:right-0 z-50 lg:h-16 bg-[var(--light-2)] dark:bg-[var(--dark-2)] dark:text-[var(--dark-text)] w-full shadow">
        {% block sidebar %}
        <div class="flex justify-center lg:justify-between items-center h-full px-4">
            <!-- Left side navigation -->
            <ul class="flex lg:space-x-2">
                <li class="flex items-center ml-2 font-default bg-[var(--light-4)] dark:bg-[var(--dark-4)] text-[var(--light-text)] dark:text-[var(--dark-text)] px-4 py-1 hover:bg-[var(--light-1)] dark:hover:bg-[var(--dark-3)] hover:text-[var(--light-text)] dark:hover:text-[var(--dark-text)] h-full rounded-md shadow-sm">
                    <a href="/">Home</a>
                </li>
                <li class="flex items-center ml-2 font-default overflow-x-hidden bg-[var(--light-4)] dark:bg-[var(--dark-4)] text-[var(--light-text)] dark:text-[var(--dark-text)] px-4 py-1 hover:bg-[var(--light-1)] dark:hover:bg-[var(--dark-3)] hover:text-[var(--light-text)] dark:hover:text-[var(--dark-text)] h-full rounded-md shadow-sm">
                    <a href="/film_ratings/movie_form/">Film Review</a>
                </li>
            </ul>

            <div class="flex justify-center">
                <div class="fixed lg:static top-0 left-0 right-0 flex justify-center h-14 w-full items-center bg-[var(--light-2)] dark:bg-[var(--dark-2)] lg:flex lg:justify-center lg:space-x-2 lg:w-[450px]">
                    <img 
                        src="{% static 'pcpicksLOGO.png' %}" 
                        alt="PopCornPicks Logo"
                        class="h-[60px] text-shadow-sm"
                    >
                    <h1 class="font-logo text-shadow-black text-shadow-sm text-4xl text-black dark:outline-black dark:text-white">Popcorn Picks</h1>
                </div>
            </div>
            

            <!-- Right side authentication -->
            <ul class="flex lg:space-x-2">
                {% if user.is_authenticated %}
                <li class="flex items-center ml-2 font-default bg-[var(--light-4)] dark:bg-[var(--dark-4)] text-[var(--light-text)] dark:text-[var(--dark-text)] px-4 py-1 hover:bg-[var(--light-1)] dark:hover:bg-[var(--dark-3)] hover:text-[var(--light-text)] dark:hover:text-[var(--dark-text)] h-full rounded-md shadow-sm">
                    <a href="{% url 'users:dashboard' %}">My Rated Films</a>
                </li>
                <li class="flex items-center ml-2 font-default bg-[var(--light-4)] dark:bg-[var(--dark-4)] text-[var(--light-text)] dark:text-[var(--dark-text)] px-4 py-1 hover:bg-[var(--light-1)] dark:hover:bg-[var(--dark-3)] hover:text-[var(--light-text)] dark:hover:text-[var(--dark-text)] h-full rounded-md shadow-sm">
                    <form action="{% url 'users:logout_view' %}" method='post'>
                        {% csrf_token %}
                        <button title="User Logout">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="flex items-center ml-2 font-default bg-[var(--light-4)] dark:bg-[var(--dark-4)] text-[var(--light-text)] dark:text-[var(--dark-text)] px-4 py-1 hover:bg-[var(--light-1)] dark:hover:bg-[var(--dark-3)] hover:text-[var(--light-text)] dark:hover:text-[var(--dark-text)] h-full rounded-md shadow-sm">
                    <a href="{% url 'users:login_view' %}">Login</a>
                </li>
                <li class="flex items-center ml-2 font-default bg-[var(--light-4)] dark:bg-[var(--dark-4)] text-[var(--light-text)] dark:text-[var(--dark-text)] px-4 py-1 hover:bg-[var(--light-1)] dark:hover:bg-[var(--dark-3)] hover:text-[var(--light-text)] dark:hover:text-[var(--dark-text)] h-full rounded-md shadow-sm">
                    <a href="{% url 'users:register_view' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endblock %}
    </nav>
    <div id="content" class="pt-[60px]">
        {% block content %}{% endblock %}
    </div>
</body>
</html>