@config "../../tailwind.config.js";
@import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Paytone+One:regular);
@import url(https://fonts.googleapis.com/css?family=Cal+Sans:regular);
@import url(https://fonts.googleapis.com/css?family=Ultra:regular);
@import url(https://fonts.googleapis.com/css?family=Tilt+Warp:regular);
@import url(https://fonts.googleapis.com/css?family=Spectral:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic);
@import "tailwindcss";

@theme {
  --font-default: Cal Sans, sans-serif;
  --font-alt: Paytone One, sans-serif;
  --font-serif: Spectral, serif;
  --font-logo: Ultra, serif;
  /** Color theme: BG is main color, and from 2-4 is 
  gradually darker tones for both light and dark themes.
  Light Theme accent is a dark color
  Dark theme accent is a bright color **/
  --color-dark-bg: #38040E;
  --color-dark-2: #640D14;
  --color-dark-3: #800E13;
  --color-dark-4: #95232A;
  --color-accent-dark: #E22030;
  --color-light-bg: #F6F7F4;         /* soft, light gray with a hint of green */
  --color-light-2: #E1E5E1;          /* subtle sage-gray for surfaces/cards */
  --color-light-3: #CBD3CF;          /* muted eucalyptus tone for hover or emphasis */
  --color-light-4: #A8B4AC;          /* soft green-gray for borders or tertiary accents */
  --color-accent-light: #5E8370;     /* cool, desaturated green for buttons/links */
  --color-light-text: #1F2A23;       /* deep charcoal with green undertone */
  --color-light-text-2: #3F4F45;     /* medium gray-green for subtext or muted headings */  
  --color-dark-text: #FBDADE;
  --color-dark-text-2: #F0A8AB;
  --color-text-error: red;
  
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";