{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1 class="hidden sm:block text-center object-center text-3xl font-default text-light-text dark:text-dark-text m-12">Your Reviewed Films</h1>
  <div class="flex justify-center p-8">
    
    {% if user_review_data %}
      <div class="flex justify-center">
        <div class="w-full h-[60vh] relative overflow-y-scroll rounded-lg">
          <table class="hidden sm:block w-full text-sm text-left text-light-text dark:text-dark-text">
              <thead class="sticky top-0 z-10 text-xs text-light-text-2 uppercase bg-light-3 dark:bg-dark-3 dark:text-dark-text-2">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          
                      </th>
                      <th scope="col" class="px-6 py-3">
                          <div class="flex items-center">
                            <a href="#" class="flex items-center">Film Title
                              <i class="mx-2 fa-solid fa-sort"></i>
                            </a>
                          </div>
                      </th>
                      <th scope="col" class="px-6 py-3">
                          <div class="flex items-center">
                            <a href="#" class="flex items-center">Your Rating
                              <i class="mx-2 fa-solid fa-sort"></i>
                            </a>
                          </div>
                      </th>
                      <th scope="col" class="px-6 py-3">
                          <span class="sr-only">Edit</span>
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for film in user_review_data %}    
                  <tr class="bg-light-2 border-b dark:bg-dark-2 dark:border-accent-dark border-accent-light">
                    <th scope="row" class="px-6 py-4 font-medium text-light-text whitespace-nowrap dark:text-dark-text">
                      <a href="{% url 'film_ratings:film_details' film.movie_title.id %}">    
                        <img 
                          src="{{ film.movie_title.poster_url }}" 
                          alt="Poster for {{ film.movie_title.title }}"
                          class="min-w-16 sm:w-24 aspect-[2/3] rounded shadow-black shadow-sm lg:shadow-md"
                        />
                      </a>
                    </th>
                    <td class="px-6 py-4 text-xl font-bold">
                        <a href={% url 'film_ratings:film_details' film.movie_title.id %}>
                          {{ film.movie_title.title }} <p class="font-light text-lg">({{ film.movie_title.release_year }})</p>
                        </a>
                    </td>
                    <td class="px-6 py-4 text-lg font-alt">
                        {{ film.average_score|floatformat:2 }}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <div class="flex">
                          <button 
                            command="show-modal" 
                            commandfor="dialog"
                            hx-get="{% url 'film_ratings:review_new' film.movie_title.id %}"
                            hx-target="#dialog-content"
                            hx-swap="innerHTML"
                            class="rounded-md bg-gray-950/5 px-2.5 py-1.5 text-sm font-semibold text-gray-900 hover:bg-gray-950/10 dark:bg-white/10 dark:text-white dark:inset-ring dark:inset-ring-white/5 dark:hover:bg-white/20"
                          >Edit</button>
                          <el-dialog>
                            <dialog id="dialog" aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
                              <el-dialog-backdrop class="fixed inset-0 bg-gray-500/75 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in dark:bg-gray-900/50"></el-dialog-backdrop>

                              <div tabindex="0" class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
                                <el-dialog-panel id="dialog-content" class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg lg:max-w-5xl data-closed:sm:translate-y-0 data-closed:sm:scale-95 dark:bg-gray-800 dark:outline dark:-outline-offset-1 dark:outline-white/10">
                                  <!-- Modal Content goes here-->
                                </el-dialog-panel>
                              </div>
                            </dialog>
                          </el-dialog>
                        </div>
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <div id="mobile-dash" class="sm:hidden flex flex-col justify-center gap-6">
        <div class="w-full mb-10 flex flex-col items-center">
          <h1 class="text-center text-5xl font-logo">Your favorite film</h1>
          {% for film in user_review_data|slice:':1' %}
            <div class="m-12 text-light-text-2 dark:text-dark-text-2">
              <div class="static">
                <img 
                  src="{{ film.movie_title.poster_url }}" 
                  class=""
                  alt="Poster for {{ film.movie_title.title }}"
                >
                <figcaption class="absolute px-4 text-lg text-white bottom-6">
                  <h1 class="relative bottom-0 right-0 text-3xl font-alt">{{ film.movie_title.title }}</h1>
                  <p>{{ film.movie_title.release_year }}</p>
                </figcaption>
              </div>
            </div>
          {% endfor %}
        </div>
        <h1 class="text-center text-2xl font-logo">Your top 10 favorite films</h1>
        {% for film in user_review_data|slice:':10' %}
          <div class="flex justify-center gap-2">
            <div class="w-[80%] flex justify-between">
              <img 
                src="{{ film.movie_title.poster_url }}"
                class="w-[160px] space-x-2" 
                alt="Poster for {{ film.movie_title.title }}"
              >
              <div class="space-x-2">
                <h1 class="justify-end text-right">{{ film.movie_title.title }}</h1>
                <p class="justify-end text-right">{{ film.movie_title.release_year }}</p>
              </div>
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
    
    {% else %}
      <p class="text-white">No Reviews Found.</p>
    {% endif %}
  </div>
{% endblock %}