{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>🎞️ PopcornPicks</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<i class="fa-duotone fa-solid fa-film" style="--fa-primary-color: #2ea390; --fa-secondary-color: #000000;"></i>
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<nav>
			<a href="{% url 'film_ratings:index' %}">Home</a>
			<a href="{% url 'film_ratings:movie_form' %}">Popcorn Form</a>
			<a href="{% url 'users:dashboard' %}">Popcorn Bucket</a>
			{% if user.is_authenticated %}
				<form action="{% url 'users:logout_view' %}" method='post'>
					{% csrf_token %}
					<button title="User Logout">Logout</button>
				</form>
			{% else %}
				<a href="{% url 'users:login_view' %}">Login</a>
				<a href="{% url 'users:register_view' %}">Register</a>
			{% endif %}
		</nav>
		{% block content %}

		{% endblock %}
	</body>
</html>