{% extends "base.html" %}
<!DOCTYPE html>
{% load static %}

    {% block content %}
      <div class="flex flex-col justify-center items-center">
        {% if movie.poster_url %}
        <img
            src="{{ movie.poster_url }}"
            class="mt-[100px] img-fluid w-[250px]"
            alt="Poster for {{ movie.title }}"
        />
        {% endif %}
        <div class="w-[500px]">
          <h2 class="text-5xl mb-[20px]">{{ movie.title }} {% if movie.release_year %}({{ movie.release_year }}){% endif %}</h2>
          <p>Average rating: {{ average_rating|floatformat:2 }}</p>

          {% if movie.description %}
              <p><strong>Description:</strong> {{ movie.description }}</p>
          {% endif %}

          {% if latest_review %}
            <ul>
              <li>Visuals: {{ latest_review.visuals }}</li>
              <li>Acting: {{ latest_review.acting }}</li>
              <li>Meaningfulness: {{ latest_review.thought_provoking }}</li>
              <li>Dialogue: {{ latest_review.dialog }}</li>
              <li>Makes Me Cry: {{ latest_review.makes_me_cry }}</li>
              <li>Execution of Genre: {{ latest_review.genre_execution }}</li>
              <li>Rewatchability: {{ latest_review.rewatch }}</li>
              <li>Fun to Watch: {{ latest_review.fun_to_watch }}</li>    
            </ul>
          {% else %}
            <p>No reviews yet for this movie.</p>
          {% endif %}
        </div>
      </div>
    {% endblock %}