{% extends "base.html" %}

{% block content %}

<h1 class="m-16 text-4xl text-center font-alt font-extrabold leading-none tracking-tight text-[var(--light-text)] md:text-5xl lg:text-6xl dark:text-[var(--dark-text)]">Top 10 Films by Average Rating</h1>

{% if film_list %}
<div class="flex justify-center">
    <div class="grid grid-cols-2 w-full gap-3 md:grid-cols-5 md:w-[1000px] md:h-[100px] md:gap-6">
        {% for movie in film_list|slice:':10' %}
        <a class="text-[16px] md:h-[300px] text-[var(--light-text-2)] hover:text-[var(--light-text)] dark:text-[var(--dark-text-2)] dark:hover:text-[var(--dark-text)] hover:scale-105 duration-290" href="{% url 'film_ratings:film_details' movie.id %}" data-item="{{ forloop.counter }}">
            <div class="flex flex-col p-4">
                <img
                    src="{{ movie.poster_url }}"
                    class="h-auto w-auto object-cover md:h-[250px] md:w-auto rounded-md border-5 border-[var(--accent-light)] dark:border-[var(--accent-dark)]"
                    alt="Poster image for {{ movie.title }}"
                />
                <div class="font-default text-md">
                    <p>#{{ forloop.counter }} - {{ movie.title }} ({{ movie.release_year }}) | Overall Rating: {{ movie.average_rating|floatformat:1 }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <p>No movies in this list.</p>
    {% endif %}
</div>
{% endblock %}