{% extends "base.html" %}

{% block content %}

<h1 class="m-16 text-4xl text-center font-alt leading-none tracking-tight text-light-text md:text-5xl lg:text-6xl dark:text-dark-text text-shadow-md text-shadow-accent-light dark:text-shadow-accent-dark">Top 10 Films by Average Rating</h1>

{% if film_list %}
<div class="hidden sm:flex justify-center">
    <div class="grid grid-cols-1 w-full gap-3 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 lg:w-auto lg:h-auto lg:gap-6 lg:p-10 overflow-hidden justify-items-center">
        {% for movie in film_list|slice:':10' %}
        <a 
            href={% url 'film_ratings:film_details' movie.id %}
            class="w-[75%] sm:w-[85%] md:w-[92%]"
        >
            <div class="w-full sm:max-h-[1000px] max-h-[500px] [aspect-[2/3] 
                    object-cover rounded-md mb-10
                    text-light-text-2 dark:text-dark-text-2">
              <div class="relative group w-[75%] sm:w-[85%] md:w-[92%] hover:scale-105 duration-500 ease-in">
                <img 
                  src="{{ movie.poster_url }}" 
                  class="w-[75%] max-w-[275px] sm:w-[85%] md:w-[92%] aspect-2/3 rounded-md shadow-md shadow-black"
                  alt="Poster for {{ film.movie_title.title }}"
                >
                <figcaption class="w-[75%] max-w-[275px] sm:w-[85%] md:w-[92%] h-[100%] 
                                  absolute px-4 rounded-md
                                  text-lg text-white bottom-0 opacity-0
                                  bg-gradient-to-tr from-light-3 to-transparent dark:from-dark-3 dark:to-transparent
                                  transition-all duration-500 ease-in-out 
                                  group-hover:opacity-100">
                  <h1 class="text-[4rem] font-logo text-center
                            text-shadow-md text-shadow-black"
                            >#{{ forloop.counter }}
                  </h1>
                  <div class="transform translate-y-[0px] group-hover:translate-y-[75px] 
                              transition-transform duration-500 ease-in-out">
                    <div class="flex flex-col">
                      <h1 class="font-alt text-[clamp(0.75rem, 2vw, 1.25rem)]
                                ml-4 lg:ml-2 truncate
                                text-shadow-md text-shadow-black">
                        {{ movie.title }}
                      </h1>
                    </div>
                    <p class="text-lg ml-4 lg:ml-2 font-logo
                              text-shadow-md text-shadow-black">
                      ({{ movie.release_year }})
                    </p>          
                  </div>
                  <!-- Progress pinned to bottom -->
                    <div class="flex justify-center absolute bottom-6 left-0 w-full px-4 pb-2">
                    <div class="w-[95%]">
                        <div class="flex justify-between mb-1">
                        <span class="text-sm text-white font-default">Average Rating</span>
                        <span class="text-lg text-white font-default">{{ movie.average_rating|floatformat:1 }}</span>
                        </div>
                        <div class="w-full bg-gray-400 h-3 overflow-hidden rounded-md shadow-sm shadow-gray-800">
                        <div 
                            class="h-3 bg-white rounded-md origin-left transform scale-x-0 
                                group-hover:scale-x-100 transition-transform duration-1500 ease-in-out"
                            style="width: {{ movie.rating_percentage }}%"
                        ></div>
                        </div>
                    </div>
                    </div>
                    <!-- End Progress -->
                </figcaption>
              </div>
            </div>
            </a>
        {% endfor %}
    </div>
</div>
    {% else %}
        <p>No movies in this list.</p>
    {% endif %}
<div class="flex flex-col justify-center sm:hidden">
    {% for movie in film_list|slice:10 %}
        <div class="flex justify-center overflow-x-hidden">
            <a 
                href={% url 'film_ratings:film_details' movie.id %}
                class="m-8 rounded-md"
            >
                <div class="flex flex-col w-[350px]">
                    <div class="w-[350px]">
                        <img 
                            src={{ movie.poster_url }} 
                            alt="Poster for {{ movie.title }}"
                            class="w-[350px] rounded-t-md"
                        >
                    </div>
                    <div class="flex justify-between items-center 
                                w-full h-[155px] p-8
                                bg-light-2 dark:bg-dark-2 rounded-b-md
                    ">
                        <div>
                            <h1 class="text-2xl font-alt">{{ movie.title }}</h1>
                            <span class="font-default">({{ movie.release_year }})</span>
                        </div>
                        <div class="">
                            <!-- Gauge Component -->
                            <div class="relative size-24 bg-light-2 dark:bg-dark-2 rounded-full">
                            <svg class="rotate-[135deg] size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                <!-- Background Circle (Gauge) -->
                                <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-light-text dark:text-dark-text" stroke-width="1" stroke-dasharray="100 100"></circle>

                                <!-- Gauge Progress -->
                                <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-accent-light dark:text-accent-dark" stroke-width="2" stroke-dasharray="{{ movie.rating_percentage}} 100"></circle>
                            </svg>

                            <!-- Value Text -->
                            <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
                                <span class="text-3xl font-alt text-accent-light dark:text-accent-dark">{{ movie.average_rating|floatformat:1 }}</span>
                            </div>
                            </div>
                            <!-- End Gauge Component -->
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}